.floating-icon .css-1i5alow-MuiButtonBase-root-MuiFab-root-MuiSpeedDial-fab {
    width: 45px;
    height: 45px;
    background-color: #2B90D3 !important;
}

.css-md8nuk {
    width: 45px !important;
    height: 45px !important;
    background-color: #2B90D3 !important;   
}