html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fit-content {
  width: fit-content;
}
.cursor-pointer {
  cursor: pointer;
}
.user-icon-color {
  color: rgb(136, 155, 173);
}
.color-unset {
  color: unset;
}