.feed-container {
    padding: 0 0 3rem 0;
}
.tweet-input {
    border-radius: 3px !important;
    outline: none;
    margin-bottom: 10px !important;
}
.tweet-input:focus {
    border: 1px solid #2c8dce;
}
.tweet-board {
    margin-top: 2rem;
    
}
.create-tweet-block {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}
.tweet-button {
    background-color: #2b90d3;
    color: white;
    font-size: 13px;
    padding: 7px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    outline: none;
}
.err-msg {
    font-size: 12px;
    color: rgb(231, 88, 88);
    margin-bottom: 10px;
}
.sticky-div {
    position: sticky;
    top: 1rem;
}
.edit-box {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    margin-bottom: 10px;
}
.focus-style {
    border: 1px solid #85b6d6;
    box-shadow: 0px -1px 4px 1px rgba(109,178,198,1) !important;
}
.upload-block {
    font-size: 20px;
    color: #366e94;
    padding: 0 10px 10px 10px;
    border-top: 0;
}
.tweet-input {
    border: none !important;
    border-radius: none !important;
    margin-bottom: 0 !important;
}
.tweet-input:focus {
    transition: none !important;
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
}
.image-preview {
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 270px;
}