.sidebar-block {
    margin-top: 2rem;
}
.sidebar-option {
    font-size: 18px;
    font-weight: 600;
    margin: 1.5rem 2rem;
    display: flex;
    justify-content: flex-end;
}
.sidebar-option .title {
    margin-left: 10px;
    width: 100px;
}
.gray-option {
    color: rgb(136, 136, 132) !important;
}
.blue-option {
    color: rgb(72, 138, 214) !important;
}