.tweet-block {
    width: 500px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 4px;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 35px calc(100% - 35px);
    margin-left: auto;
    margin-right: auto;
}
.tweet-block .user-icon {
    font-size: 22px;
    color: #b4b4b4;
    width: fit-content;
    margin-top: 4px;
}
.tweet-block:hover {
    border: 1px solid #b4b4b4;
}
.tweet-block .tweet-block {
    margin-bottom: 0.5rem;
}
.tweet-block .user-full-name {
    font-size: 16px;
    color: black;
    font-weight: 500;
    line-height: 22px;
}
.tweet-block .username {
    color: #727272;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
}
.tweet-block .date {
    color: #727272;
    font-weight: 600;
    font-size: 12px;
}
.tweet-block .tweet-text {
    font-size: 16px;
    color: black;
    margin-top: 5px;
}
.tweet-block .like-count {
    color: #e45656;
    font-size: 14px;
    font-weight: 700;
}
.tweet-block .rt-count {
    color: #0071bc;
    font-size: 14px;
    font-weight: 700;
}
.tweet-block .image-block {
    width: 100%;
    position: relative;
    height: 300px;
}
.tweet-block .image-block img {
    width: 100%;
}
.center-dot {
    font-weight: 800;
    color: #727272;
    margin: 0 7px;
}
.user-dp {
    border-radius: 50%;
}
.tweet-right-block {
    margin-left: 5px;
    padding-top: 2px;
}