.user-info-block {
    border: 1px solid #bbb9b9;
    padding: 15px;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
}
.user-top-section {
    display: flex;
    justify-content: space-between;
}
.user-top-section .top-left {
    display: grid;
    grid-template-columns: 55px auto;
    column-gap: 15px;
    width: 45%;
}
.user-info-block .profile-pic {
    color: #b4b4b4;
    font-size: 55px;
    line-height: 55px;
}
.user-info-block .profile-pic .user-dp, .field-div .user-dp {
    width: 55px;
    height: 55px;
    position: relative;
}
.user-info-block .edit-block {
    border: 1px solid #268ee4;
    color: #268ee4;
    font-size: 13px;
    padding: 5px 17px;
    border-radius: 30px;
    height: fit-content;
    font-weight: 550;
    cursor: pointer;
}
.user-info-block .full-name {
    font-size: 15px;
    font-weight: 600;
}
.user-info-block .user-name {
    font-size: 13px;
    font-weight: 600;
    color: #9b9696;
}
.user-info-block .bio {
    margin-top: 10px;
    font-weight: 400;
}
.user-info-block .follow-block {
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-top: 7px;
}
.user-info-block .follow-block  div {
    cursor: pointer;
}
.user-list {
    width: 95%;
    margin: 0 auto;
}
.user-list .user-row {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 15% 85%;
}
.user-list .user-row .icon {
    font-size: 35px;
    line-height: 35px;
}
.user-list .user-row .fullname{
    font-size: 14px;
    font-weight: 500;
}
.user-list .user-row .username {
    font-size: 12px;
    font-weight: 500;
    color: #9b9696;
}
.user-list .user-row .follow-count {
    font-size: 11px;
    font-weight: 500;
    color: #9b9696;
}
.no-data-div {
    margin: 1rem auto;
    width: fit-content;
    font-size: 15px;
    color: #b4b4b4;
    font-weight: 600;
}
.username-outer-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.username-inner-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


@media screen and (max-width: 768px) {
    .user-top-section .top-left {
        width: 70%;
        column-gap: 7px;
    }
}
@media screen and (max-width: 576px) {
    .username-outer-layout {
        flex-direction: column;
        align-items: flex-start;
    }
    .user-top-section .top-left {
        width: 80%;
    }
    .center-dot {
        display: none;
    }
    .user-info-block .profile-pic .user-dp {
        width: 45px;
        height: 45px;
    }
    .user-info-block .profile-pic {
        font-size: 45px;
        line-height: 45px;
    }
    .user-info-block .edit-block {
        font-size: 14px;
        line-height: 14px;
        padding: 10px;
        border-radius: 50%;
    }
    .user-info-block .edit-block .button-text{
        display: none;
    }   
}